{% extends "layout.html" %}
{% block content %}
<div class="content-section" id="mainSection">
	<!-- <h4>Bedrock Server Controls</h4> -->
	<div class="container">
		<div class="row">
			<div class="col-2 me-2 control-btns">
				<!-- <div class="row mb-2 fs-5 fw-bold">
					Controls
				</div> -->
				<div class="row mb-2">
					<button id="svc-status-btn" class="btn btn-danger" type="submit" data-action="disconnected" disabled>
						<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" title="Disconnected..."></span>
					</button>
				</div>
				<div class="row mb-2">
					<button id="bds-pwr-btn" class="fw-bold btn btn-success" type="submit" disabled>Start Server</button>
				</div>
				<div class="row mb-2">
					<button id="bds-update-btn" class="fw-bold btn btn-primary" type="submit" disabled>Check for update</button>
				</div>
				<div class="row mb-2">
					Version<br>
					Players
				</div>
			</div>
			<div class="col">
				<!-- <div class="row mb-2 fs-5 fw-bold">
					Log
				</div> -->
				<div class="row mb-2">
					<!-- <label for="bds-log-text" class="form-label">Bedrock Server Controls</label> -->
					<textarea id="bds-log-text" class="form-control mb-2" rows="14" disabled></textarea>
					<input id="bds-send-input" class="form-control form-control-md mb-2" type="text" placeholder="Send disabled, server not running" disabled>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block scripts %}
	<script src="{{ url_for('static', filename='socket.io.js') }}"></script>
	<script type="text/javascript" charset="utf-8">
		var socket = io();
		var bds_status = null
		var bds_status_refresh = true
		const bds_input_history = []
		var bds_input_history_idx = 0
		var bds_input_history_max = 19

		// On DOM ready
		$(document).ready(function(){
			// Every 5 sec
			setInterval(function() {
				if (bds_status_refresh == true) {
					socket.emit('bds-status');
				}
			}, 5000)
		});

		// On client socket connect
		socket.on('connect', function() {
			$('#bds-log-text').empty();
			socket.emit('admin-connect', {data: 'Admin connected!'});
			$('#svc-status-btn').html("<img src=\"{{ url_for('static', filename='icons/pause-fill.svg') }}\" title=\"Stop Status Refreshing\">");
			$('.control-btns button').removeAttr("disabled");
			$('#svc-status-btn').attr('data-action', 'pause');
			$('#svc-status-btn').removeClass('btn-danger');
			$('#svc-status-btn').addClass('btn-success');
		});
		
		// On client socket disconnect
		socket.on('disconnect', function() {
			$('#svc-status-btn').html("<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\" title=\"Disconnected...\"></span>");
			$('.control-btns button').attr('disabled', 'disabled');
			$('#svc-status-btn').attr('data-action', 'disconnected');
			$('#svc-status-btn').removeClass('btn-success');
			$('#svc-status-btn').removeClass('btn-warning');
			$('#svc-status-btn').addClass('btn-danger');
		});

		// BDS status + power button status
		socket.on('bds-status', function(msg) {
			//$('#bds-log-text').append('Server Status: '+msg.data+'\n');
			
			$('#bds-pwr-btn').removeAttr("disabled");
			if (msg.data != bds_status) {
				if (msg.data == true) {
					$('#bds-pwr-btn').text('Shutdown Server');
					$('#bds-pwr-btn').addClass('btn-danger');
					if ($('#bds-pwr-btn').hasClass('btn-success')) {
						$('#bds-pwr-btn').removeClass('btn-success');
					}

					$('#bds-send-input').removeAttr("disabled");
					$('#bds-send-input').attr('placeholder', 'Send');
				} else {
					$('#bds-pwr-btn').text('Start Server');
					$('#bds-pwr-btn').addClass('btn-success');
					if ($('#bds-pwr-btn').hasClass('btn-danger')) {
						$('#bds-pwr-btn').removeClass('btn-danger');
					}

					$('#bds-send-input').attr('disabled', 'disabled');
					$('#bds-send-input').attr('placeholder', 'Send disabled, server not running');
				}
			}
			bds_status = msg.data
		});

		// Receive BDS Log Messages
		socket.on('bds-log-msg', function(msg) {
			$('#bds-log-text').append(msg.data+'\n');
			$('#bds-log-text').scrollTop($('#bds-log-text')[0].scrollHeight);
		});

		// BDS power button click
		$('#bds-pwr-btn').click(function(){
			$('#bds-pwr-btn').attr('disabled', 'disabled');
			if ($('#bds-pwr-btn').text() == 'Start Server') {
				socket.emit('bds-startup', {data: 'startup'});
			} else {
				socket.emit('bds-shutdown', {data: 'shutdown'});
			}
		});

		// SVC status pause button click
		$('#svc-status-btn').click(function(){
			if ($('#svc-status-btn').attr('data-action') == 'pause') {
				bds_status_refresh = false
				$('#svc-status-btn').html("<img src=\"{{ url_for('static', filename='icons/play-fill.svg') }}\" title=\"Start Status Refreshing\">");
				$('#svc-status-btn').attr('data-action', 'play');
				$('#svc-status-btn').removeClass('btn-success');
				$('#svc-status-btn').addClass('btn-warning');
			} else {
				bds_status_refresh = true
				$('#svc-status-btn').html("<img src=\"{{ url_for('static', filename='icons/pause-fill.svg') }}\" title=\"Stop Status Refreshing\">");
				$('#svc-status-btn').attr('data-action', 'pause');
				$('#svc-status-btn').removeClass('btn-warning');
				$('#svc-status-btn').addClass('btn-success');
			}
		});

		// BDS send input
		$('#bds-send-input').keyup(function(event){
			// console.log(event.keyCode);
			if (event.keyCode == '13') { // enter key
				socket.emit('bds-send-input', {command: $('#bds-send-input').val()});

				// command history
				if (bds_input_history.length >= 20) {
					bds_input_history.shift();
					bds_input_history_idx = bds_input_history_max;
				} else {
					bds_input_history_idx = bds_input_history.length+1;
				}
				bds_input_history.push($('#bds-send-input').val());
				
				$('#bds-send-input').val('') // clear input
			} else if (event.keyCode == '38') { // up arrow
				if (bds_input_history_idx > 0) {
					bds_input_history_idx--;
				}
				$('#bds-send-input').val(bds_input_history[bds_input_history_idx]);
			} else if (event.keyCode == '40') { // down arrow
				if (bds_input_history_idx < bds_input_history_max && bds_input_history_idx < bds_input_history.length) {
					bds_input_history_idx++;
				}
				$('#bds-send-input').val(bds_input_history[bds_input_history_idx]);
			}
		});

		//$(this).addClass("disabled");
		//$("#spinner_connect").css("opacity",100);
	</script>
	<!-- ? autocomplete command, works but not great and interferes with command history up/down
	? maybe use datatables.js instead with table of commands underneath send bar?
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.css') }}">
	<script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
	<script type="text/javascript" charset="utf-8">
		$(function() {
			var availableCommands = [
				"alwaysday",
				"clear",
				"say"
			];
			$("#bds-send-input").autocomplete({
				source: availableCommands,
				//appendTo: "#bds-send-input",
				autoFocus: true
			});
		});
	</script> -->
{% endblock scripts %}