{% extends "layout.html" %}
{% block content %}
<div class="content-section" id="mainSection">
	<h4>Bedrock Server Controls</h4>
	<div class="mb-2">
		<button id="bds-pwr-btn" class="btn btn-success me-2" type="submit" disabled>Startup</button>
		<button id="bds-pause-btn" class="btn btn-warning me-2" type="submit" disabled>Pause</button>
	</div>
	
	<div class="mb-2">
		<!-- <label for="bds-log-text" class="form-label">Bedrock Server Controls</label> -->
		<textarea class="form-control" id="bds-log-text" rows="14" disabled></textarea>
	</div>
</div>
{% endblock content %}
{% block scripts %}
	<script src="{{ url_for('static', filename='socket.io.js') }}"></script>
	<script type="text/javascript" charset="utf-8">
		var socket = io();
		var bds_status = null
		var bds_status_refresh = true

		// On DOM ready
		$(document).ready(function(){
			// Every 5 sec
			setInterval(function() {
				if (bds_status_refresh == true) {
					socket.emit('bds-status');
				}
			}, 5000)
		});

		// Send connected msg to socket server
		socket.on('connect', function() {
				socket.emit('admin-connect', {data: 'Admin connected!'});
				$('#bds-pause-btn').removeAttr("disabled");
		});

		// BDS status + power button status
		socket.on('bds-status', function(msg) {
			//$('#bds-log-text').append('Server Status: '+msg.data+'\n');
			
			$('#bds-pwr-btn').removeAttr("disabled");
			if (msg.data != bds_status) {
				if (msg.data == true) {
					$('#bds-pwr-btn').text('Shutdown');
					$('#bds-pwr-btn').addClass('btn-danger');
					if ($('#bds-pwr-btn').hasClass('btn-success')) {
						$('#bds-pwr-btn').removeClass('btn-success');
					}
				} else {
					$('#bds-pwr-btn').text('Startup');
					$('#bds-pwr-btn').addClass('btn-success');
					if ($('#bds-pwr-btn').hasClass('btn-danger')) {
						$('#bds-pwr-btn').removeClass('btn-danger');
					}
				}
			}
			bds_status = msg.data
		});

		// Receive BDS Log Messages
		socket.on('bds-log-msg', function(msg) {
			$('#bds-log-text').append(msg.data+'\n');
			$('#bds-log-text').scrollTop($('#bds-log-text')[0].scrollHeight);
		});

		// BDS power button click
		$('#bds-pwr-btn').click(function(){
			$('#bds-pwr-btn').attr('disabled', 'disabled');
			if ($('#bds-pwr-btn').text() == 'Startup') {
				socket.emit('bds-startup', {data: 'startup'});
			} else {
				socket.emit('bds-shutdown', {data: 'shutdown'});
			}
		});

		// BDS status pause button click
		$('#bds-pause-btn').click(function(){
			if ($('#bds-pause-btn').text() == 'Pause') {
				bds_status_refresh = false
				$('#bds-pause-btn').text('Unpause');
			} else {
				bds_status_refresh = true
				$('#bds-pause-btn').text('Pause');
			}
		});

		//$(this).addClass("disabled");
		//$("#spinner_connect").css("opacity",100);
	</script>
{% endblock scripts %}